*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

#main{
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    position: absolute;
    /* top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
    height: 300px;
    width: 230px;
    /* background: antiquewhite; */
    /* border: 1px solid salmon; */
    border-radius: 20px;
    overflow: hidden;
}

#card1{
    z-index: 4;
    background-color: yellow;
    border: 1px solid black;
}

#card2{
    z-index: 3;
    rotate: -7deg;
    background-color: green;
    border: 1px solid black;

}

#card3{
    z-index: 2;
    rotate: -14deg;
    background-color: blue;
    border: 1px solid black;

}

#card4{
    z-index: 1;
    rotate: -21deg;
    background-color: grey;
    border: 1px solid black;

}

img{
    height: 100%;
    width: 100%;
    object-fit: cover   ;
}

#card2:hover{
    z-index: 10;
}

#card3:hover{
    z-index: 10;
}

#card4:hover{
    z-index: 10;
}
